_docs
_images
_notes
*.bat
*.code-workspace
*.lnk
/_*
/make/releases
/utilities/OneLocale_Baker/lib
/utilities/OneLocale_Demo/_lang-NOT
/utilities/OneLocale_Demo/lib
/utilities/OneLocale_Demo/OneLocale_UnDemo.ahk
/utilities/OneLocale_FindLangID/lib
